.navbar {
  padding: 52px 0;
  align-items: center;
  li {
    color: #d1d1d1;
    cursor: pointer;
    &:hover {
      color: darken(#d1d1d1, 10%);
    }
  }
}
.header {
  padding-bottom: 32px;
  .header-content {
    > h2 {
      color: #fff;
    }
    > h1 {
      text-align: right;
    }
  }
}
.intro {
  padding: 160px 0;
  &__text {
    color: #fff;
  }
}
.about {
  padding: 160px 0;
  &__list {
    gap: 24px;
  }
}
.contact {
  padding: 96px 0;
  &__icon {
    gap: 20px;
    a {
      box-shadow: 4px 4px 8px 0px #00000014;
      border-radius: 40px;
      &:hover {
        box-shadow: 0px 0px 16px 3px #9094ffe5;
      }
    }
  }
}
.project {
  padding: 160px 0;
}
.footer {
  padding: 40px 0;
  text-align: center;
}
