.h1 {
  font-size: 128px;
}
.h2 {
  font-size: 64px;
}
.h3 {
  font-size: 40px;
}
.fs1 {
  font-size: 32px;
}
.fs2 {
  font-size: 24px;
}
.fs3 {
  font-size: 20px;
}
.text-primary {
  color: #00ffa3;
}
.text-light {
  color: #fff;
}
.d-flex {
  display: flex;
}
.justify-content-sb {
  justify-content: space-between;
}
.justify-content-c {
  justify-content: center;
}
.justify-content-e {
  justify-content: flex-end;
}
.align-items-c {
  align-items: center;
}
.align-self-s {
  align-self: flex-start;
}
.align-self-c {
  align-self: center;
}
.flex-direction-c {
  flex-direction: column;
}
.flex-wrap-w {
  flex-wrap: wrap;
}
.mb9 {
  margin-bottom: 36px;
}
.mb8 {
  margin-bottom: 32px;
}
.mb4 {
  margin-bottom: 16px;
}
.mr4 {
  margin-right: 16px;
}
.ml-a {
  margin-left: auto;
}
.mb-a {
  margin-bottom: auto;
}
.col-3_8 {
  width: 37.5%;
}
.col-5_8 {
  width: 62.5%;
}
